{
  "presets": ["@babel/preset-react", ["@babel/preset-env", { "targets" : { "node": "current" } }]],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-spread",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-classes"
  ],
  "env": {
    "prod": {
      "presets": [
        "minify",
        "@babel/preset-react",
        ["@babel/preset-env", { "targets" : { "node": "current" } }]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-spread",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-classes"
      ]
    }
  }
}