{
  "presets": ["@babel/preset-react", ["@babel/preset-env", { "targets" : { "node": "current" } }]],
  "env": {
    "prod": {
      "presets": [
        "minify",
        "@babel/preset-react",
        ["@babel/preset-env", { "targets" : { "node": "current" } }]
      ]
    }
  }
}