{
  "presets": ["env", "react", "stage-3", "es2015"],
  "plugins": [
    "transform-class-properties",
    "transform-regenerator",
    "transform-runtime",
    "syntax-dynamic-import"
  ],
  "env": {
    "prod": {
      "presets": ["minify"]
    }
  }
}